$mobile: 600px;

.wrapper {

    .searchButton {
        background-color: rgb(243, 170, 12);
        color: rgb(107, 25, 14);
        border-radius: 5px;
        display: inline-block;
        padding: 11px;
        text-transform: uppercase;
        font-weight: bold;
    }

    @media only screen and (max-width: $mobile) {
        margin: 0 15px 20px;
    }
}

.retrotv {
    display: block;
    float: right;
    max-width: 350px;

    @media only screen and (max-width: $mobile) {
        float: none;
        margin: 0 auto;
    }
}