.wrapper {
    display: grid;
    grid-template-areas: 'heading heading' 'poster episodes' 'rating episodes' 'summary episodes';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 67px 300px 24px auto;
}

.poster {
    grid-area: poster;
}

.summary {
    grid-area: summary;
}

.episodeList {
    grid-area: episodes;
}

.rating {
    grid-area: rating;
}

.heading {
    grid-area: heading;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color: #327ec5;
}