.wrapper {
    display: grid;
    grid-template-areas: 'meta episodes';
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
}

.showMeta {
    grid-area: meta;
}
.poster {
}

.summary {
}

.episodeList {
    grid-area: episodes;
}

.rating {
}

.heading {
    text-transform: uppercase;
    font-size: 24px;
    color: #327ec5;
    margin: 5px 0;
}