footer {
    background-color: #327ec5;
    color: white;
    min-height: 100px;
    padding: 20px;

    a {
        color: white;
        text-decoration: none;
    }
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}