.form {
    text-align: center;
    margin: 15px auto;
}

.field {
    height: 30px;
    border-radius: 5px;
    width: 170px;
    padding: 4px;
}

.button {
    background-color: green;
    color: white;
    font-weight: bold;
    height: 36px;
    border-radius: 5px;
    margin-left: 8px;
    cursor: pointer;
}