.button {
    background-color: #c5c5c5;
    margin: 3px;
    padding: 6px 9px;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    &.active {
        background-color: #2e75e0;
    }
}