.wrapper {
    display: grid;
    grid-template-areas: 'image' 'title' 'description' 'button';
    grid-template-rows: max-content min-content 1fr min-content;
    background-color: #ececec;
    margin: 8px;
}

.image {
    grid-area: image;
    width: 100%;
    align-self: center;
}

.title {
    grid-area: title;
    margin: 10px auto;
    font-size: x-large;
}

.description {
    grid-area: description;
    margin: 10px 25px 8px;
    font-size: small;
}

.button {
    border-radius: 5px;
    background-color: #11112f;
    margin: 10px auto;
    max-width: 140px;
    height: 35px;

    a {
        color: white;
        text-decoration: none;
    }
}