.wrapper {
    display: grid;
    grid-template-areas: 'title';
    align-content: center;
    justify-content: center;
    background-color: #ececec;
    margin: 8px;

    a {
        height: 100%;
        width: 100%;
    }
}

.title {
    grid-area: title;
    margin: 10px auto;
    font-size: x-large;
    color: #327ec5;
}